<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Add New User</h2>
{% if request.query_params.get("message") %}
<div class="alert">
    {{ request.query_params.get("message") }}
</div>
{% endif %}
<div class="form-container">

<form action="/saveUser" method="post">

    <label>Name</label><br>
    <input type="text" name="name" placeholder="Enter name" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" placeholder="Enter email" required><br><br>

 <!-- Button container -->
<div class="btn-group">
    <button type="submit">Add</button>
    <button type="button" class="add-btn" onclick="window.location.href='/'">Cancel</button>
</div>

</form>

</div>

</body>
</html>